<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pl.akai.bookcrossing.list.BookDaoMapper">

    <resultMap id="baseBookMap" type="Book">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="author" property="author" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="fullBookMap" type="Book">
        <association column="owner_id" property="owner" javaType="User"
                     select="pl.akai.bookcrossing.login.UserDaoMapper.getUserById"/>
        <association column="reader_id" property="reader" javaType="User"
                     select="pl.akai.bookcrossing.login.UserDaoMapper.getUserById"/>
    </resultMap>

    <resultMap id="getBooksTags" type="BooksTags">
        <collection property="bookId" javaType="ArrayList" ofType="Book" columnPrefix="BOOK_">
            <id column="id" property="id"/>
            <collection property="tagId" javaType="ArrayList" ofType="Tag" columnPrefix="TAG_">
                <id column="id" property="id"/>
            </collection>
        </collection>
    </resultMap>

    <select id="getAllBooks" resultMap="fullBookMap">
        SELECT *
        FROM tb_book;
    </select>

    <select id="getBookById" resultMap="fullBookMap">
        SELECT *
        FROM tb_book
        WHERE id = #{id}
    </select>

    <select id="getInsertedBookIdByUserId" resultType="INTEGER">
        SELECT b.id
        FROM tb_book b
                 INNER JOIN tb_user u ON b.owner_id = u.id
        WHERE u.id = #{user_id}
        ORDER BY b.id DESC
        LIMIT 1;
    </select>

    <insert id="insertBook">
        INSERT INTO tb_book (title, author, description, owner_id, reader_id)
        VALUES (#{book.title}, #{book.author}, #{book.description}, #{book.owner.id}, #{book.reader.id});
    </insert>

    <select id="getBooksByTagList" resultMap="getBooksTags">
        select b.*
        from tb_book_tags bt
                 join tb_book b on (b.id = bt.book_id)
                 join tb_tag t on (t.id = bt.tag_id)
    </select>

</mapper>
