<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Szczegóły książki</title>
    <link rel="stylesheet" th:href="@{/styles/book-details.css}" type="text/css"/>
</head>
<body>
<h2 th:text="${book.title}"/>
<p th:text="'Autor: ' + ${book.author}"/>
<p th:text="'Opis: ' + ${book.description}"/>
<br>
<h3>Dodaj Opinię</h3>
<form action="#" method="post" th:action="@{/opinion/{id}}" th:object="${opinion}">
    <p>Ocena: <input required th:field="*{rating}" type="text"/></p>
    <p>Komentarz: <textarea cols="33" id="description" name="description" rows="5">
</textarea></p>
    <p><input type="submit" value="Dodaj"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>