<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        p {
            word-wrap: break-word;
        }
    </style>
    <meta charset="UTF-8">
    <title>Szczegóły książki</title>
</head>
<body>
<h2 th:text="${book.title}"/>
<p th:text="'Autor: ' + ${book.author}"/>
<p th:text="'Opis: ' + ${book.description}"/>
<h3>Oceny</h3>
<table>
    <tr>
        <th>Uzytkownik</th>
        <th>Ocena</th>
        <th>Opis</th>
    </tr>
    <tr th:each="opinion : ${opinions}">
        <td th:text="${opinion.author}">Uzytkownik</td>
        <td th:text="${opinion.rating}">Ocena</td>
        <td th:text="${opinion.description}">Opis</td>
    </tr>
</table>
</body>
</html>