<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Formularz Dodania Książki</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Formularz Dodania Książki</h1>
<form action="#" method="post" th:action="@{/book/add}" th:object="${book}">
    <p>Tytuł: <input required th:field="*{title}" type="text"/></p>
    <p>Autor: <input required th:field="*{author}" type="text"/></p>
    <p>Opis: <textarea cols="33" id="description" name="description" rows="5">
</textarea></p>
    <table>
        <thead>
        <tr>
            <th> Nazwa tagu</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tag, stat : *{tagList}">
            <td><input th:field="*{tagList[__${stat.index}__].name}" type="text"/></td>
        </tr>
        </tbody>
    </table>
    <p><input type="submit" value="Zapisz"/> <input type="reset" value="Reset"/></p>
</form>
<table>
    <tr>
        <th>Tagi</th>
    </tr>
    <tr th:each="tag : ${tags}">
        <td th:text="${tag?.name}">Tagi</td>
    </tr>
</table>
<a th:href="@{/}">Wróć</a>
</body>
</html>